:root{
    font-family: sans-serif;
    margin: 0 auto;
    color: #334155;
}

.bigC{
    display: grid;
    grid-template-rows: 1fr 1fr auto 3fr;
    justify-content: center;
}

h1 {
    align-self: end;
}

form {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    gap: 4px 10px;
}

form label {
    font-size: 12px;
    align-self: end;
}

form > label:first-child{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

form > label:nth-child(3){
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

form div {
    margin: 10px;
    margin-left: 0px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form button {
    border: none;
    background-color: #475569;
    color: #f8fafc;
}

.playBtn {
    background-color: #059669;
}

.resetBtn {
    margin-left: 10px;
}

.bigC p {
    justify-self: center;
    font-size: 30px;
    margin: 10px auto;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 300px;
    height: 300px;
    grid-row: 4 / 5;
    justify-self: center;
}

.gameBtn{
    border: none;
    font-size: 50px;
    color: #475569;
    background-color: #f8fafc;
}

.row1, .row2{
    border-bottom: 2px solid #94a3b8;
}

.col1, .col2 {
    border-right: 2px solid #94a3b8;
}